

 
     <ul class="progress-indicator">
            <li class="info">
                <span class="bubble"></span>
                DC-6094
            </li>
            <li class="info">
                <span class="bubble"></span>
                Store-100
            </li>

            <li class="info">
                <span class="bubble"></span>
                 Store-200
            </li>
            <li>
                <span class="bubble"></span>
                  Store-300
            </li>
            <li>
                <span class="bubble"></span>
                  Store-500
            </li>
        </ul>




